html {
	--background: hsl(0, 0%, 85%);
	--titlecolor1: hsl(0, 0%, 81%);
	--titlecolor2: hsl(0, 93%, 48%);
	--titlecolor3: hsl(203, 10%, 31%);
}

body {
	/* background-image: url("../background.png");
	background-repeat: repeat;
	background-size: 11.25vw 20vh; */
	background-color: var(--titlecolor1);
	font-family: "Roboto", sans-serif;
}
/* Nav da esquerda */
.sidenav {
	height: 100%;
	width: 16vw;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #111;
	overflow-x: hidden;
	padding-top: 20px;
}

.sidenav a {
	padding: 1rem;
	text-decoration: none;
	font-size: 2.4vh;
	color: hsl(0, 0%, 51%);
	display: block;
	text-align: center;
	user-select: none;
}

.sidenav a:hover {
	color: #f1f1f1;
}

.main {
	margin-left: 19rem;
	font-size: 28px;
	padding: 0px 10px;
}
.sidenav .full {
	width: 100%;
	margin-top: -1.5vh;
}
.sidenav hr {
	width: 75%;
	border: 1px solid #383838;
}
.btnsidenav {
	cursor: pointer;
}
.big {
	display: inline;
}
.small {
	display: none;
}
@media only screen and (max-width: 650px) {
	.big {
		display: none;
	}
	.small {
		display: inline;
	}
	#btnSair {
		left: 1vw !important;
	}
}
#btnSair {
	position: absolute;
	bottom: 2vh;
	left: 6vw;
}
/* Fazer cores do logo
<span class="cor1">Bibli</span><span class="cor2">e</span><span class="cor3">tec</span> */
.titulo {
	font-size: 4.2vh;
	margin-top: 0;
	user-select: none;
}
.cor1 {
	color: var(--titlecolor1);
}
.cor2 {
	color: var(--titlecolor2);
}
.cor3 {
	color: var(--titlecolor3);
}

/* CSS para scrollbar diferenciada */
/* width */
::-webkit-scrollbar {
	width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
	border-radius: 10px;
	background-color: hsl(0, 0%, 75%);
}
/* Handle */
::-webkit-scrollbar-thumb {
	background: hsl(0, 0%, 50%);
	border-radius: 10px;
	border: solid 2px black;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #b30000;
}
