.login-box {
	background-color: hsl(0, 0%, 100%);
	height: 50vh;
	width: 30vw;
	border-radius: 15%;

	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	text-align: center;
}
.login-box.esquecitela {
	height: 55vh !important;
}
.login-box h1 {
	margin-top: -6rem;
	font-size: 4rem;
	color: var(--titlecolor3);
}
.login-box h2,
.corpoCadastro h2 {
	font-size: 2rem;
	text-align: center;
	color: #000000;
}
.login-box h3,
.corpoCadastro h3 {
	font-size: 1.3rem;
	text-align: left;
	margin-bottom: 0.2rem;
	margin-left: 11% !important;
	color: #000000;
}

.login-box #btnlogin,
.corpoCadastro #btnlogin {
	margin-top: 1rem;
	font-size: 3rem;
	height: 4rem;
	background: var(--titlecolor2);
	border-radius: 36px;
	color: hsl(0, 0%, 100%);
	border: 4px solid hsl(0, 0%, 0%);
}
.corpoCadastro #btnlogin {
	width: 50%;
	align-content: center;
}
.login-box #btnlogin:hover,
.corpoCadastro #btnlogin:hover {
	animation: botao 0.2s ease-in-out 0s both alternate;
}
@keyframes botao {
	0% {
		background: hsl(0, 93%, 48%);
	}
	100% {
		background: hsl(0, 100%, 63%);
	}
}
.login-box input[type="button"] {
	margin-top: 0.5rem;
	font-size: 1rem;
	height: 1.2rem;
	border-radius: 4px;
	border: 0px;
	background-color: var(--background);
	margin-bottom: 0.3rem;
}
.login-box .botLoginbox:hover {
	animation: focologin 0.1s linear 0s normal forwards;
}
@keyframes focologin {
	0% {
		background-color: var(--titlecolor1);
	}
	100% {
		background-color: hsl(0, 0%, 65%);
	}
}
.login-box input,
.corpoCadastro input {
	width: 80%;
	height: 2.4rem;
	font-size: 1.2rem;
	padding-left: 1rem;
	border: 2px solid #000000;
	box-sizing: border-box;
	border-radius: 13px;
	outline: none;
}
.corpoCadastro input {
	margin-left: 10%;
	border: 2px solid hsl(0, 0%, 0%);
}
.login-box input:focus,
.corpoCadastro input:focus,
.corpoCadastro select:focus {
	animation: foco 0.2s linear 0s normal forwards;
	outline: none;
}
@keyframes foco {
	0% {
		border: 2px solid hsl(0, 0%, 0%);
	}
	100% {
		border: 2px solid hsl(200, 100%, 50%);
	}
}

.corpoCadastro {
	margin: 2rem auto 2rem auto;
	padding-bottom: 2rem;
	width: 50vw;
	/* height: 150vh; */
	background-color: white;
	border-radius: 3% / 2%;
}
.corpoCadastro .titulo {
	text-align: center;
	font-size: 3rem;
	padding-top: 2rem;
}
.corpoCadastro select {
	margin-left: 10%;
	height: 2.4rem;
	width: 80%;
	font-size: 1.2rem;
	padding-left: 1rem;
	border-radius: 13px;
	outline: none;
	border: 2px solid hsl(0, 0%, 0%);
}
.corpoCadastro select:focus {
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}
.alinharmeio {
	width: 90%;
	text-align: center;
}
/* ------------------Css do corpo da main page--------------- */
.corpoMain.title {
	font-size: 2.5rem;
	margin-top: 0;
}
