.login-box {
	background-color: hsl(0, 0%, 100%);
	height: 50vh;
	width: 30vw;
	border-radius: 2vw 2vw;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	text-align: center;
}
.login-box.esquecitela {
	height: 55vh !important;
}
.login-box h1 {
	margin-top: -6rem;
	font-size: 4rem;
	color: var(--titlecolor3);
}
.login-box h2,
.corpoCadastro h2 {
	font-size: 2rem;
	text-align: center;
	color: #000000;
}
.login-box h3,
.corpoCadastro h3 {
	font-size: 1.3rem;
	text-align: left;
	margin-bottom: 0.2rem;
	margin-left: 11% !important;
	color: #000000;
}

.login-box #btnlogin,
.corpoCadastro #btnlogin,
.botVerm {
	margin-top: 1rem;
	font-size: 4vh;
	height: 6vh;
	background: var(--titlecolor2);
	border-radius: 36px;
	color: hsl(0, 0%, 100%);
	border: 4px solid hsl(0, 0%, 0%);
}
.botVerm.botinpage {
	font-size: 2rem;
	height: 4rem;
}
.corpoCadastro #btnlogin {
	width: 50%;
	align-content: center;
}
.login-box #btnlogin:hover,
.corpoCadastro #btnlogin:hover,
.botVerm:hover {
	animation: botao 0.2s ease-in-out 0s both alternate;
}
@keyframes botao {
	0% {
		background: hsl(0, 93%, 48%);
	}
	100% {
		background: hsl(0, 100%, 63%);
	}
}
.login-box input[type="button"] {
	margin-top: 0.5rem;
	font-size: 1rem;
	height: 1.2rem;
	border-radius: 4px;
	border: 0px;
	background-color: var(--background);
	margin-bottom: 0.3rem;
}
.login-box .botLoginbox:hover {
	animation: focologin 0.1s linear 0s normal forwards;
}
@keyframes focologin {
	0% {
		background-color: var(--titlecolor1);
	}
	100% {
		background-color: hsl(0, 0%, 65%);
	}
}
.login-box input,
.corpoCadastro input,
.fundoBranco input {
	width: 80%;
	height: 2.4rem;
	font-size: 1.2rem;
	padding-left: 1rem;
	border: 2px solid #000000;
	box-sizing: border-box;
	border-radius: 13px;
	outline: none;
}
.corpoCadastro input {
	margin-left: 10%;
	border: 2px solid hsl(0, 0%, 0%);
}
.login-box input:focus,
.corpoCadastro input:focus,
.corpoCadastro select:focus {
	animation: foco 0.2s linear 0s normal forwards;
	outline: none;
}
@keyframes foco {
	0% {
		border: 2px solid hsl(0, 0%, 0%);
	}
	100% {
		border: 2px solid hsl(200, 100%, 50%);
	}
}

.corpoCadastro {
	margin: 2rem auto 2rem auto;
	padding-bottom: 2rem;
	width: 50vw;
	/* height: 150vh; */
	background-color: white;
	border-radius: 3vw / 3vw;
}
.corpoCadastro .titulo {
	text-align: center;
	font-size: 3rem;
	padding-top: 2rem;
}
.corpoCadastro select {
	margin-left: 10%;
	height: 2.4rem;
	width: 80%;
	font-size: 1.2rem;
	padding-left: 1rem;
	border-radius: 13px;
	outline: none;
	border: 2px solid hsl(0, 0%, 0%);
}
.corpoCadastro select:focus {
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}
.corpoCadastro input:disabled {
	background-color: hsl(0, 0%, 75%);
}
.redSenhaA {
	width: 26.8vw;
}
.redSenhaA h3 {
	text-align: center;
}
/* ------------------Css do corpo da main page--------------- */
.corpoMain {
	margin-left: 16vw;
	font-size: 28px;
	padding: 0px 10px;
	overflow-x: hidden;
	overflow-y: hidden;
}
.corpoTitle {
	font-size: 4.2vh;
	margin-top: 1.5vh;
	text-align: center;
}
.hrTitle {
	margin-top: -5vh;
	margin-left: -5vw;
	width: 87.5vw;
	border: 1px solid hsl(0, 0%, 72%);
}
.hrMain {
	border: 1px solid hsl(0, 0%, 72%);
}
.corpoText {
	margin-left: 0.3rem;
	margin-top: -2rem;
}
.corpoInputtxt {
	width: 100%;
	height: 2.4rem;
	font-size: 1.2rem;
	padding-left: 1rem;
	border: 2px solid #000000;
	box-sizing: border-box;
	border-radius: 13px;
	outline: none;
}
.listaOpcao {
	border: 2px solid #000000;
	margin-top: 0.5rem;
	font-size: 1.5rem;
	height: 1.9rem;
	border-radius: 4px;
	background-color: var(--titlecolor2);
	color: white;
	margin-bottom: 0.3rem;
	margin-left: -2rem;
	text-align: center;
	user-select: none;
}
.result b {
	padding-left: 1rem;
}
.lista {
	height: 25vh;
	overflow-y: auto;
	overflow-x: hidden;
}
/* CSS pra empréstimos */
.horNav {
	width: 100%;
	text-align: center;
	margin-bottom: -0.9vh;
}
.horNav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
.horNav li {
	text-align: center;
	display: inline;
	margin: -0.2vw;

	background-color: hsl(0, 0%, 73%);
	border-bottom: 0.2vh solid hsl(0, 0%, 55%);
	border-top-left-radius: 1vh 1vh;
	border-top-right-radius: 1vh 1vh;
	cursor: pointer;
}
.horNav li a {
	display: inline-block;
	color: hsl(0, 0%, 50%);
	padding: 1vh 1.5vw 1vh 1.5vw;
	text-align: center;
	text-decoration: none;
	margin-top: -4vh;
}
.navActive {
	background-color: hsl(0, 0%, 95%) !important;
	border-bottom: 0.2vh solid hsl(0, 0%, 95%) !important;
}
.navActive a {
	color: black !important;
}
/* tabelas emprestimo */
.empTableDiv {
	padding-top: 1vh;
	padding-bottom: 2vh;
	border-top-left-radius: 1vh 1vh;
	border-top-right-radius: 1vh 1vh;
	border-bottom-left-radius: 1vh 1vh;
	border-bottom-right-radius: 1vh 1vh;
	background-color: hsl(0, 0%, 95%);
	text-align: center;
}
.empTableDiv table {
	border-collapse: collapse;
	width: 100%;
}
.empTableDiv table th {
	border-bottom: 1px solid hsl(0, 0%, 50%);
}
.empTableDiv table tr:nth-child(even) {
	background-color: hsl(0, 0%, 85%);
}
.empTableDiv table tr:hover:first-child {
	background-color: hsl(0, 0%, 95%);
}
.empTableDiv table tr:hover {
	background-color: hsl(0, 0%, 75%);
}
.empTableDiv table td {
	border-right: 1px solid hsl(0, 0%, 50%);
}
.empTableDiv table td:last-child {
	border-right: none;
}

/* css basico */
.botpage {
	margin-top: 2vh;
}
.alinharmeio {
	text-align: center;
}
.fundoBranco {
	margin: 2rem auto 2rem auto;
	padding-bottom: 2rem;
	width: 50vw;
	/* height: 150vh; */
	background-color: white;
	border-radius: 3% / 2%;
}
.textdecor {
	text-decoration: none;
}
.pointer {
	cursor: pointer;
}
